    <!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "haya.png", class: "logo", style: 'height: 75px; margin-left: -80px' %>
      <% end %>
          <%= link_to "Home", root_path, class: "nav-link" %>
          <%# <%= link_to "Contact", "#{root_path}#contact", class: "page-scroll" %>
    </div>
</nav>
