<%# <h1>New Contact Form Message</h1>
<><strong>Name:</strong> <%= @contact.name %>
<%# <><strong>Email:</strong> <%= @contact.email %>
<%# <p><strong>Message:</strong></p> %>
<%# <><%= @contact.message %>
